.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    letter-spacing: 2px;
    padding-bottom: 50px;
}

.home .title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
        flex-direction: column;
        margin-bottom:30px;
}

.home .title h1{
    font-size: 2.5em; 
    margin-bottom: 20px;
    text-align: center;
}

.home .title h2 {
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    .home .title{
        margin-top: 50px;
    }

    .home .title h2 {
        font-size: 1.75em;
    }
}

