/* Sidebar básico */
.sidebar {
  background-color: #090a0c;
  position: fixed;
  height: 100%;
  width: 60px; /* Largura no estado colapsado */
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.sidebar.expanded {
  width: 200px; /* Largura no estado expandido */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.profile-pic {
  width: 50px; /* Tamanho pequeno no estado colapsado */
  height: 50px;
  border-radius: 50%;
  margin: auto;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.sidebar.expanded .profile-pic {
  width: 150px; /* Tamanho grande no estado expandido */
  height: 150px;
  margin: auto;
}

.toggle-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  padding: 10px;
  border-radius: 50%;
  opacity: 0.3;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
  }
}

nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  gap: 10px;
  transition: all 0.3s ease;
  svg {
    font-size: 30px;
  }
}

nav a:hover {
  background-color: #121212;
  color: #fff;
}

nav a span {
  white-space: nowrap;
  opacity: 0; /* Ocultar nomes no estado colapsado */
  transition: opacity 0.3s ease;
}

.sidebar.expanded nav a span {
  opacity: 1; /* Mostrar nomes no estado expandido */
}

@media screen and (max-width: 700px) {
  .sidebar {
    height: 70px;
    width: 100%; /* Largura no estado colapsado */
    justify-content: start;
    display: flex;
    flex-direction: row;
    z-index: 99;
  }

  .profile-pic {
    width: 50px; /* Tamanho pequeno no estado colapsado */
    height: 50px;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
  }

  nav a svg {
    font-size: 35px;
  }

  .toggle-btn {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 30px;
  }
}
